.background{
    background-image: url(../img/layout2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo{
    background-image: url(../img/Guest-Book.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.head{
    height: 350px;
}
